.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    min-height: 80vh;
  }
  
  .hero-text {
    width: 50%;
    & > * {
      color: #333;
      margin-bottom: 2rem;
    }
    & > h2 span {
      display: block;
    }
    & .hero-buttons a {
      color: #fff;
    }
  }